div.login-body
    div.login-logo
        img(src="assets/img/login_logo.png")

    h2.form-heading login
    div.container.log-row
        form.form-signin
            div.login-wrap
                input.form-control(
                    type='text',
                    placeholder="E-mail",
                    ng-model="vm.usuario.userName"
                )
                input.form-control(
                    type='password'
                    placeholder="Senha"
                    ng-model="vm.usuario.password"
                )
                //label.checkbox-custom.checkbox-success
                    input#manter-logado(type='checkbox')
                    label(for="manter-logado") Lembre-me
                button.btn.btn-lg.btn-success.btn-block(type="button", ng-click='vm.login()') Entrar
                label.checkbox-custom.checkbox-success
                    a.pull-right Esqueci a senha
